.itemList {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 600px) {
    .itemList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.item {
    padding: 1rem;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.item img {
    height: 5rem;
}