/** Mobile first design  */

.container {
 background-color: white;
}

.title {
  color: blue;
}

@media (min-width: 600px) {
  /** Desktop application related changes*/
  .container {
    background-color: skyblue;
    padding: 1rem;
  }
}
